svg {
    width: 25px;
}

header {
    position: fixed;
    z-index: 10;
    width: 100vw;
    background-color: #FFEC9E;
}

#navigation {
    width: 90vw;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

header .logo {
}

#nav-logo {
    font-weight: bolder;
    text-decoration: none;
    color: #8B322C;
}

#nav-ads {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

header .menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    font-weight: 500;
}


.user-menu {
    display: flex;
}

.user-menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-menu .user-menu-span {
    font-size: x-small;
    margin-top: 0;
}

#search {
    margin-right: 10px;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #FFC470;
    border-radius: 10px;
    border: 1px solid #DD5746;
    padding: 20px;
    border-bottom-width: 2px;
}

.dropdown-menu h3{
    margin-top: 0;
}

.dropdown-menu li{
    cursor: pointer;
}

#navigation-login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}


#navigation-login-form label{
    display: flex;
    justify-content: space-between;
}

#navigation-login-form input {
    border-radius: 5px;
    padding: 5px;
    border-width: 0 0 2px 0;
}

.user-menu-items{
    cursor: pointer;
}

.dropdown-menu #submit-btn{
    background-color: #4793AF;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px;
    border:none;
    font-weight: bold;
    font-size: medium;
}

.user-menu-search {
    position: absolute;
    width: 200px;
    right: 120px;
    top: 10px;
    transition: display 2s;
}

.user-menu-search input {
    height: 20px;
    width: 200px;
    border-width: 0 0 2px 0;
    border-color: #DD5746;
    border-radius: 5px;
    padding: 5px;
}

.user-menu-search input:focus {
    border-width: 0 0 2px 0;
    border: 2px solid cadetblue;
}

.user-menu-search.open {
    display: block;
}