#profile-wrapper{
    display: flex;
    width: 100%;
    background-color: #efefef;
    padding-bottom: 40px;
}

#profile-content{
    width: 90%;
    max-width: 1200px;
    display: flex;
    margin: auto;
    gap: 20px;
}

#profile-menu-tabs {
    flex:1;
}

#profile-menu-tabs ul{
    padding: 0;
    border: 1px solid #dadada;
    border-radius: 5px;
}

#profile-menu-tabs li {
    list-style: none;
    padding: 15px;
    height: 100%;
    border-width: 0 0 1px 0;
    border-color: #dadada;
    border-style: inset;
    background-color: white;
    overflow:hidden;
    text-align: center;
    cursor: pointer;
}

#profile-menu-tabs li:first-child {
    border-radius:  5px 5px 0 0;
}

#profile-menu-tabs li:last-child {
    border-width: 0;
    border-radius: 0 0 5px 5px;
}

#profile-menu-tabs .active {
    background-color: #DD5746;
    color: white;
}

#profile-menu-tabs p{
    margin: 0;
}


#menu-img{
    display: flex;
    justify-content: center;
}

#menu-content{
    flex: 5;
}

.user-update-form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.user-update-form  label {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.user-update-form span{
    font-size: small;
}


.user-update-form input{
    border-radius: 5px;
    padding: 5px;
    border-width: 0 0 2px 0;
}

.user-update-form button{
    padding: 10px 20px;
    background-color: #DD5746;
    border-radius: 5px;
    border-color: #8B322C;
    font-size: medium;
    color: white;
    font-weight: bold;
}

.profile-ads-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
}

#user-data-update-form{
    margin-bottom: 40px;
}

#password-warning{
    color:#df3a2e;
    font-weight: 700;
    padding-bottom: 20px;
}

fieldset {
    border: 0;
    border-top: 1px solid grey;
}

@media screen and (max-width: 500px){
    #profile-content {
        display: block;
    }

    #profile-menu-tabs {
        display: block;
        width: 90%
    }
}