#ad-list-wrapper{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

#ad-list-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    gap: 20px;
    margin-top: 30px;
}